{% extends 'base.html' %}

{% block head %}
<title>Upload - RepoMidia</title>
<link rel="stylesheet" href="../static/upload.css">
{% endblock %}


{% block base %}
<script src="../static/upload.js"></script>
<div class="main-content">
    <div class="upload-container">
        <h1 class="page-title">Upload de Mídia</h1>
        <p class="page-subtitle">Adicione músicas, vídeos e imagens à sua biblioteca</p>

        <!-- Formulário -->
        <form class="upload-form" id="upload-form" onsubmit="uploadVideo(event)">

            <div class="form-group">
                <label class="form-label" for="media-title">Link do Youtube</label>
                <input type="text" class="form-input" id="media-title" placeholder="Insira o link aqui" oninput="validadeURL(this.value)" required>
            </div>

            <div class="form-group">
                <label class="form-label" for="media-description">Descrição (opcional)</label>
                <textarea class="form-textarea" id="media-description"
                    placeholder="Adicione alguma informação sobre essa música"></textarea>
            </div>

            <div class="form-actions">
                <button type="button" class="btn btn-secondary" onclick="resetForm()">
                    Cancelar
                </button>
                <button type="submit" class="btn btn-primary" id="submit-btn" disabled>
                    Fazer Upload
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}